@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face{
font-family:agency;
src:url('/fonts/agency.ttf');
}

.footer-top-border{
  background: linear-gradient(to right, #FFA500 15%, #dadada 30%,#dadada 60%, #00ff00 100%);
}
body {
  overflow-x:hidden;
}
nav ul li a{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.prim-font{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}